SERVICE_NAME=my_finance_service
DEPOSITS_API_URL=https://www.banki.ru/products/deposits/api/group/moskva/
DATABASE_URL=postgres://user:password@localhost:5432/dbname?sslmode=disable
REDIS_URL=localhost:6379
PORT=8080
QUERY_COUNTS=3,10
BOND_BOARDS=TQOB:ofz,TQCB:corporate
